extends ../base
block content
  main
    +Breadcrumb('Posts')
    +Information(user)
    +Anchor(user)
    .p-category
      .l-container
        div(class="p-category__inner")
          div(class="p-category__box")
            +CategoryTop('/admin/post/create', 'Danh sách Bài viết')
            .c-datatable
              table#dataTable
                thead
                  tr
                    th(class="c-datatable__title", style="width: 30px;") STT
                    th(class="c-datatable__title", style="width: 15%;") Hình ảnh
                    th(class="c-datatable__title") Tiêu đề
                    th(class="c-datatable__title") Tag
                    th(class="c-datatable__title") Tác giả
                    th(class="c-datatable__title", style="width: 15%;") Hành động
                tbody
                  each post, index in posts
                    tr
                      td
                        p(class="c-datatable__text")= index + 1
                      td
                        div(class="c-datatable__thumb")
                          img(src=`/images/posts/${post.thumbnail}`, alt=`${post.title}`)
                      td
                        p(class="c-datatable__text")=post.title
                      td
                        p(class="c-datatable__text")=post.tag.name
                      td
                        p(class="c-datatable__text")=post.author.name
                      td
                        +ButtonAction(`/admin/post/edit/${post._id}`, post._id)
                        
