//- Mixins of Client
mixin BreadcrumbClient(name='home')
  .c-breadcrumb
    .l-container
      .c-breadcrumb__content
        ul.c-breadcrumb__list
          li.c-breadcrumb__item
            a.c-breadcrumb__link.c-breadcrumb__link--home(href='/')
              i.c-breadcrumb__icon
                svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg', fill='none', viewBox='0 0 24 24', stroke-width='1.5', stroke='currentColor')
                  path(stroke-linecap='round', stroke-linejoin='round', d='M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25')
              span Trang chủ  
          if(name!='home')    
            li.c-breadcrumb__item
              if(name)    
                span.c-breadcrumb__link= name

mixin Introduction()
 .p-information
    .l-container
      .p-information__inner
        p.p-information__text Blog chia sẽ những kiến thức và giải pháp kế toán cho các doanh nghiệp 🥳

//- Mixins of Admin
mixin Breadcrumb(currentTag='Posts')
  .c-breadcrumb
    .l-container
      .c-breadcrumb__content
        ul.c-breadcrumb__list
          li.c-breadcrumb__item
            a.c-breadcrumb__link.c-breadcrumb__link--home(href='/admin/')
              i.c-breadcrumb__icon
                svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
                  path(stroke-linecap='round' stroke-linejoin='round' d='M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25')
              span Quản trị
          li(class="c-breadcrumb__item")
            span(class="c-breadcrumb__link")= currentTag

mixin Information(userName)
 .p-information
      .l-container
        .p-information__inner
          if userName
            p.p-information__text Xin chào! #{userName.name}

mixin Anchor(userName)
  .p-anchor
    .l-container
      ul.p-anchor__list
        li.p-anchor__item
          a.p-anchor__link(href='/admin/post/')
            i.p-anchor__icon
              svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
                path(stroke-linecap='round' stroke-linejoin='round' d='M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z')
            span.p-anchor__text Posts
        li.p-anchor__item
          a.p-anchor__link(href='/admin/tag/')
            i.p-anchor__icon
              svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
                path(stroke-linecap='round' stroke-linejoin='round' d='M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z')
                path(stroke-linecap='round' stroke-linejoin='round' d='M6 6h.008v.008H6V6z')
            span.p-anchor__text Tags
        if userName
          a.p-anchor__link.js-logout
            i.p-anchor__icon
              svg.w-6.h-6(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke-width="1.5", stroke="currentColor")
                path(stroke-linecap="round", stroke-linejoin="round", d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9")
            span.p-anchor__text Logout

mixin CategoryTop(hrefUrl='/admin/post/create', CategoryName='Danh sách bài viết')
  div(class="p-category__top")
    h2(class="p-category__heading")
      i(class="p-category__icon")
        svg.w-6.h-6(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke-width="1.5", stroke="currentColor")
          path(stroke-linecap="round", stroke-linejoin="round", d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z")
      span(class="p-category__sub")= CategoryName
    div(class="p-category__more")
      a(href=hrefUrl, class="p-category__more-link p-category__more-link--add")
        span(class="p-category__more-text") Thêm
        i(class="p-category__more-icon")
          svg.w-6.h-6(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke-width="1.5", stroke="currentColor")
            path(stroke-linecap="round", stroke-linejoin="round", d="M12 4.5v15m7.5-7.5h-15")
            
mixin ButtonAction(hrefName='/admin/post/edit', idTag='')
  div(class="c-datatable__group-button")
    a(href=hrefName, class="c-datatable__button c-datatable__button--edit")
      i(class="c-datatable__icon")
        svg.w-6.h-6(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke-width="1.5", stroke="currentColor")
          path(stroke-linecap="round", stroke-linejoin="round", d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10")
      span Sửa
    button(class="c-datatable__button c-datatable__button--delete", onclick=`tagDelete(${JSON.stringify(idTag)})`)
      i(class="c-datatable__icon")
        svg.w-6.h-6(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke-width="1.5", stroke="currentColor")
          path(stroke-linecap="round", stroke-linejoin="round", d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0")
      span Xóa